<div class="tab-pane fade show active" id="v-pills-career" role="tabpanel" aria-labelledby="v-pills-career-tab">
    <div class="my-2">
        <form hx-get="{% url 'administration:career-stats' %}" hx-trigger="change" hx-swap="outerHTML" hx-target="#career_script">
          <div class="d-flex flex-wrap m-1">
            <label for="" class="m-2">Sex</label>
            <div>{{ careerStatForm.sex }}</div>
            <label for="" class="m-2">Education Level</label>
            <div>{{ careerStatForm.educationlevel }}</div>
            <label for="" class="m-2">Year Level</label>
            <div>{{ careerStatForm.year }}</div>
          </div>
          <div class="d-flex flex-wrap m-1">
            <label for="" class="m-2">Department</label>
            <div>{{ careerStatForm.department }}</div>
            <label for="" class="m-2">Program</label>
            <div>{{ careerStatForm.program }}</div>
          </div>
          <div class="d-flex flex-wrap m-1">
            <label for="" class="m-2">Start Date</label>
            <div class="d-flex">{{ careerStatForm.start_date }}</div>
            <label for="" class="m-2">End Date</label>
            <div class="d-flex">{{ careerStatForm.end_date }}</div>
          </div>
        </form>
      </div>
    <div id="career-section">
        {% include 'statistics/partials/career_stat.html' %}
    </div>
</div>

{% block career_script %}
<script id="career_script">
  $(document).ready(() => {

    const count = $('#career_count')
    count.text("total of: {{ career_count|default:0 }}")

    var $data = [{% for avg in career_avg_list %}'{{avg}}',{% endfor %}];
    var $labels = [{% for label in career_labels %}'{{label}}',{% endfor %}];

    let IQChart = new Chart(careerChart, {
      type: "line", // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data: {
        labels: $labels,
        datasets: [
          {
            data: $data,
            backgroundColor: [
              "rgba(66, 141, 239, 0.6)",
              "rgba(54, 162, 235, 0.6)",
              "rgba(255, 206, 86, 0.6)",
              "rgba(75, 192, 192, 0.6)",
              "rgba(153, 102, 255, 0.6)",
              "rgba(255, 159, 64, 0.6)",
              "rgba(255, 99, 132, 0.6)",
            ],
            borderWidth: 1,
            borderColor: "#777",
            hoverBorderWidth: 3,
            hoverBorderColor: "#000",
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false,
        },
        tooltips: {
          enabled: true,
        },
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
  });
</script>
{% endblock %}
