<div class="tab-pane fade show" id="v-pills-iq" role="tabpanel" aria-labelledby="v-pills-iq-tab">

    <div class="d-flex justify-content-end my-2">

        <form hx-get="{% url 'administration:iq-stats' %}" hx-trigger="change, changed">
          <div class="d-flex align-items-center">
            <label for="" class="m-2">Sex</label>
            <div>{{iqStatForm.sex}}</div>
            <label for="" class="m-2">Education Level</label>
            <div>{{iqStatForm.educationlevel}}</div>
            <label for="" class="m-2">Year Level</label>
            <div>{{iqStatForm.year}}</div>
          </div>
          <div class="d-flex align-items-center">
            <label for="" class="m-2">Department</label>
            <div>{{iqStatForm.department}}</div>
            <label for="" class="m-2">Program</label>
            <div>{{iqStatForm.program}}</div>
            <div>{{iqStatForm.result}}</div>
            <div>{{iqStatForm.start_date}}</div>
            <div>{{iqStatForm.end_date}}</div>
            <!-- <input type="number" name="" id=""> -->
            
            
        </div>
        </form>
    </div>

    <div id="iq-section">
        {% include 'statistics/partials/iq_stat.html' %}
    </div>
</div>