<div
  class="tab-pane fade show"
  id="v-pills-iq"
  role="tabpanel"
  aria-labelledby="v-pills-iq-tab"
>
  <div class="my-2">
    <form
      hx-get="{% url 'administration:iq-stats' %}"
      hx-trigger="change"
      hx-swap="outerHTML"
      hx-target="#iq_scripts"
    >
      <div class="d-flex flex-wrap m-1">
        <label for="" class="m-2">Sex</label>
        <div>{{iqStatForm.sex}}</div>
        <label for="" class="m-2">Education Level</label>
        <div>{{iqStatForm.educationlevel}}</div>
        <label for="" class="m-2">Year Level</label>
        <div>{{iqStatForm.year}}</div>
      </div>
      <div class="d-flex flex-wrap m-1">
        <label for="" class="m-2">Department</label>
        <div>{{iqStatForm.department}}</div>
        <label for="" class="m-2">Program</label>
        <div>{{iqStatForm.program}}</div>
      </div>
      <div class="d-flex flex-wrap m-1">
        <label for="" class="m-2">Start Date</label>
        <div class="d-flex">{{iqStatForm.start_date}}</div>
        <label for="" class="m-2">End Date</label>
        <div class="d-flex">{{iqStatForm.end_date}}</div>
      </div>
    </form>
  </div>

  <div id="iq-section">{% include 'statistics/partials/iq_stat.html' %}</div>
</div>

{% block iq_scripts %}
<script id="iq_scripts">
  $(document).ready(() => {
    var $data = [{% for avg in iq_avg %}'{{avg}}',{% endfor %}];
    var $labels = [{% for label in iq_labels %}'{{label}}',{% endfor %}];

    let IQChart = new Chart(iqChart, {
      type: "line", // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data: {
        labels: $labels,
        datasets: [
          {
            data: $data,
            backgroundColor: [
              "rgba(66, 141, 239, 0.6)",
              "rgba(54, 162, 235, 0.6)",
              "rgba(255, 206, 86, 0.6)",
              "rgba(75, 192, 192, 0.6)",
              "rgba(153, 102, 255, 0.6)",
              "rgba(255, 159, 64, 0.6)",
              "rgba(255, 99, 132, 0.6)",
            ],
            borderWidth: 1,
            borderColor: "#777",
            hoverBorderWidth: 3,
            hoverBorderColor: "#000",
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false,
        },
        tooltips: {
          enabled: true,
        },
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
  });
</script>

{% endblock %}
